modules = ["nodejs-20", "python-3.12", "nix"]
run = "npm run start"

[nix]
channel = "stable-25_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "lcms2", "libGL", "libGLU", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "pkg-config", "qhull", "tcl", "tk", "zlib"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 8083
externalPort = 3001

[[ports]]
localPort = 35015
externalPort = 3003

[[ports]]
localPort = 38479
externalPort = 5000

[[ports]]
localPort = 41069
externalPort = 3002

[[ports]]
localPort = 46721
externalPort = 4200

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Dev Server"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_PACKAGER_PROXY_URL=https://$REPLIT_DEV_DOMAIN REACT_NATIVE_PACKAGER_HOSTNAME=$REPLIT_DEV_DOMAIN npx expo start --tunnel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend_python && python main.py"

[[workflows.workflow]]
name = "EAS Init"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas init"

[[workflows.workflow]]
name = "EAS Update"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas update --auto"

[[workflows.workflow]]
name = "EAS Publish Preview iOS"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform ios --profile preview"

[[workflows.workflow]]
name = "EAS Publish Preview Android"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform android --profile preview"

[[workflows.workflow]]
name = "Backend Server"
author = 46451643
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm start"

[[workflows.workflow]]
name = "Dev Server Python (with deps)"
author = 46753952
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_PACKAGER_PROXY_URL=https://$REPLIT_DEV_DOMAIN REACT_NATIVE_PACKAGER_HOSTNAME=$REPLIT_DEV_DOMAIN npx expo start --tunnel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend_python && python start.py"

[[workflows.workflow]]
name = "Dev Server Python"
author = 46753952
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend_python && python main.py"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow]]
name = "Backend"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend_python && python main.py"

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --tunnel"

[deployment]
run = ["bash", "-c", "cd backend_python && python start.py & npx expo start --web --port 5000 --host 0.0.0.0"]
deploymentTarget = "vm"

[agent]
expertMode = true
