fastapi==0.115.4
uvicorn==0.32.0
python-multipart==0.0.12
aiofiles==24.1.0
python-dotenv==1.0.1
cloudinary==1.41.0
pdfplumber==0.11.4
Pillow==10.4.0
google-genai[aiohttp]==0.8.0
qdrant-client==1.7.0
scikit-learn==1.5.2
numpy==2.0.2
pandas==2.2.3
aiohttp==3.10.11
beautifulsoup4==4.12.3
PyPDF2==2.12.1
numpy
regex
hdbscan
scikit-learn
nltk
brotli
python-socketio
aiohttp==3.10.11
